@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
}